/Java/Leccion1/Ejercicio_1/nbproject/private/
/Java/Leccion1/Ejercicio_1/build/
/Java/Leccion1/Leccion2/nbproject/private/
/Java/Leccion1/Leccion2/build/
/Java/Leccion1/CondicionalEjercicio_1/nbproject/private/
/Java/Leccion1/CondicionalEjercicio_1/build/
/Java/Leccion1/CondicionalEjercicio_2/nbproject/private/
/Java/Leccion1/CondicionalEjercicio_2/build/
/Java/Leccion1/CondicionalEjercicio_3/nbproject/private/
/Java/Leccion1/CondicionalEjercicio_3/build/
